h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 50px;
}

img {
    width: 150px;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.page-container {
    display: flex;
}

.player-container, .opponent-container {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.choices {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.choices img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.opp-face {
    animation-name: move;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

.think-face {
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

@keyframes move {
    from {
        top: -10px;
    }
    to {
        top: 10px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(25deg);
    }
    to {
        transform: rotate(-25deg);
    }
}

.bob1 {
    animation-name: bob;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

.bob2 {
    animation-name: bob;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-delay: .15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

.bob3 {
    animation-name: bob;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-delay: .30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

.bob4 {
    animation-name: bob;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-delay: .45s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

@keyframes bob {
    from {
        top: -2.5px;
    }
    to {
        top: 2.5px;
    }
}

